/* Reset & General */
html, body, h1, h2, p, button, a {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f4f4f4;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", serif;
  background-size: cover;
  background-position: center;
  background-color: grey;
  padding-bottom: 60px;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", serif;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: .5em;
}

p {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 1em;
}

/* Buttons & Links */
button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color .3s;
  background-color: #00cc99;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

#joinUsBtn {
  border: none;
  border-radius: 10px;
}

#joinUsBtn:hover {
  transform: scale(1.05);
}

.center-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-button a {
  color: white;
}

/* Banners & Containers */
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.bottom-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 270px;
  position: relative;
  width: 100%;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.header-text {
  display: inline-block;
  vertical-align: bottom;
}

.header-text h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2.5em;
  text-align: center;
}


#home-banner {
  background-image: url("./components/images/horizon.jpg");
}

#home-banner2 {
  background-image: url("./components/images/mental.jpg");
}

#home-banner3 {
  background-image: url("./components/images/nurse-with-child.png");
}

#home-banner4 {
  background-image: url("./components/images/team.jpg");
}

#home-banner5 {
  background-image: url("./components/images/sunset-water.jpg");
}

/* Header & Nav */
#mainHeader {
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 90px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
  flex-wrap: wrap;
}
#logo-img {
  width: 85px;
  height: 90px;
  margin: 0;
  padding: 0;
}

#mainContent {
  margin-top: 4px;
  margin-bottom: 0;
}

.contact {
  margin-top: 300px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  background-color: whitesmoke;
  color: black;
  align-items: center;
  margin-bottom: 5px;
  
}

section p {
  max-width: 720px;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service-link:hover h2 {
  color: red; /* Set your desired hover color */
}

.column1 {
  float: left;
  width: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
}

nav li {
  display: inline-block;
  flex: 1;
  margin: 0px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color .3s;
  font-size: 1.3em;
}

nav a:hover {
  color: red;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

#joinUsBtn {
  background-color: #00cc99;
  color: white;
  border: none;
  border-radius: 5px;
}

#joinUsBtn:hover {
  background-color: #009966;
  transform: scale(1.05);
}

.center-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-button a {
  color: white;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color .3s;
}

a:hover {
  color: #0056b3;
}

/* Popup */
.blur, .popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 150px;
  padding: 200px;
  border: 2px solid #ccc;
  background-color: grey;
  box-shadow: 0px 0px 10px 0px #000;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
}

.popup {
  background-color: rgba(255, 255, 255, .3);
  z-index: 4;
}

.blur.hidden {
  display: none;
}

.popup-content {
  background-image: url("./components/images/sunset-water.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  max-width: 600px;
  min-width: auto;
  height: 80%;
  max-height: 700px;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #000;
}

.popup-content button {
  border-radius: 7px;
  margin-left: 12px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
}

.popup .close:hover {
  color: #f00;
}

.popup .close:active {
  transform: scale(.9);
}

.popup.hidden {
  display: none;
}

#register-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Forms */
#contact-form {
  display: flex;
  justify-content: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-size: 1rem;
}

::placeholder {
  font-size: 1rem; 
}

input[type="text"], input[type="email"], textarea {
  width: calc(100% - 26px);
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact-form-btn {
  border-radius: 7px;
  max-width: 100px;
  margin-left: 12px;
}

#message {
  height: 150px;
}

#customAlertContact, #customAlertJoin {
  border-radius: 7px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

#closeAlertContact, #closeAlertJoin {
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background: none;
}

/* About & Footer */
.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30%;
  margin-top: 5px;
}

.profile-picture {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  border: 1.5px solid grey;
  border-radius: 35px 35px 35px 0;
  margin: 7px 7px 7px 7px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  align-items: center;
  text-align: center;
}

.profile-picture img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px 35px 0 35px;
  display: flex;
}

.profile-picture h1 {
  margin-top: 0.5rem;
  font-size: 1.4em;
  width: 80%;
  display: flex;
}

.about-text {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  border: 1.5px ;
  border-radius: 20px;
  margin: 7px 7px 12px 7px;
  background-color: #333;
  color: white;
  min-height: auto;
}

.about-text p {
  margin: 0;
  text-align: justify;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .header-text h1 {
    font-size: 1.8em;
  }

  .banner {
    min-height: 250px;
  }

  nav ul {
    padding-top: 15px;
    flex-direction: column;
  }

  nav li {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .header-text h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }

  .banner {
    min-height: 200px;
  }
  #home-banner {
    padding-top: 200px;
  }
  #home-banner4 {
    padding-top: 200px;
    margin-top: 50px;
  }

  section {
    padding: 10px;
  }

  /* Popup scaling */
  .popup, .blur {
    width: 89%;
    max-width: none;
    min-width: none;
    padding: 20px;
    min-height: 270px;
  }

  .popup-content {
    width: 80%;
    max-width: 90%;
    min-height: 210px;
  }

  .popup-content h2 {
    font-size: 1.5em;
  }

  .popup-content h4 {
    font-size: 1em;
  }

  .popup-content p {
    font-size: 1.1em;
  }

  .popup-content .form-group input {
    width: 92%;
    padding: 0.8em;
    box-sizing: border-box;
    font-size: 0.8rem;
  }

  .popup-content .form-group {
    margin-bottom: 0.4rem;
  }

  button {
    padding: 7px 16px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color .3s;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-picture {
    width: 80%;
    max-height: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .profile-picture img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px 35px 0 35px;
    display: flex;
  }
  
  .profile-picture h1 {
    margin-top: 0.5rem;
    font-size: 1.5em;
    overflow: auto;
    display: block;
    text-align: center;
    justify-self: center;
  }
  
  .about-text {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content:stretch;
    align-items: center;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(23, 21, 21);
  color: white;
  height: 60px;
  z-index: 3;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin: 0 10px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-nav a:hover {
  color: red;
}

.copyright-div {
  padding: 10px;
  display: flex;
  align-items: baseline;
}

.copyright-div p {
  margin-bottom: 0;
}
